In [14]:
def vol(rad):
   return 4/3 * 3.14 * rad**3

In [15]:
vol(2)

33.49333333333333

In [23]:
def ran_check(num, low, high):
    if num in range (low, high):
        print(num, "is in the range between", low, "and ", high)

In [24]:
ran_check(5,2,7)

5 is in the range between 2 and  7

In [25]:
def ran_bool(num, low, high):
    if num in range (low, high):
        return True 
    else: 
        return False

In [27]:
ran_bool(0,1,10)

False

In [44]:
def up_low(s):
    uppers = 0 
    lowers = 0
    for c in s:
        if c.islower():
            lowers += 1
        elif c.isupper():
            uppers += 1
        else:
            pass
    print("No. of Upper case characters: ", uppers,"\n" "No. of Lower case characters: ", lowers)

In [45]:
s = "Hello Mr.Rogers, how are you this fine Tuesday?"
up_low(s)

No. of Upper case characters:  4
No. of Lower case characters:  33

In [46]:
def unique_list(lst):
    unique = []
    for item in lst:
        if item not in unique:
            unique.append(item)
    return unique

In [47]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [48]:
def multiply(numbers):
    total = 1
    for n in numbers:
        total *= n 
    return total

In [49]:
multiply([1,2,3,-4])

-24

In [52]:
def palindrome(s):
    reverse = ''.join(reversed(s))
    if (s == reverse):
        return True 
    return False

In [55]:
palindrome('helleh')

True

In [58]:
import string 

def ispangram(str1, alphabet=string.ascii_lowercase):
    return set(alphabet) <= set(str1.lower())

In [59]:
ispangram("The quick brown fox jumps over the lazy dog")

True